/*
Colors used:
Primary Color:  #000000
Secondary Color: #ffffff
Tertiary Color: #B8F5EB
Background Color (white): #FFFFFF
Text Colors (#000000, #ffffff)
*/

/* font-family: 'Karla', sans-serif;
font-family: 'Lato', sans-serif; */

/* Global Styles------------------------------------------------------------------- */



body {
  background-color: pink;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}
.hero1 {
  background: blue;
}

.hero2 {
  background: red;
}

.navigation {
  background: green;
}

/* Links and Buttons----------------------------------------------------------------- */

/* Header------------------------------------------------------------------------------ */

/* Main--------------------------------------------------------------------------------- */

/* Footer-------------------------------------------------------------------------------- */
.fab {
  font-size: 35px;
}

/* Containers & Columns------------------------------------------------------------- */

/* Layout Styling------------------------------------------------------------------------ */

/* Media Queries----------------------------------------------------------------------- */
