/*
Colors used:
Primary Color:  #100032
Secondary Color: #ffffff
Tertiary Color: #210068
Font Color: #ffffff
Font Color: #0D0029
Iphone SE text size: 16px
*/

/* font-family: 'Montserrat', sans-serif;*/

/* Global Styles------------------------------------------------------------------- */

/* https://css-tricks.com/box-sizing/
* {
  box-sizing: border-box;
} */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  background-color: pink;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

h1, h2 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  }

  h2 {
   font-size: 1.85em;
   font-weight: 600;
  }

  figcaption {
    font-size: 14px;
    font-style: italic;
  }

img {
  width: 100%;
}

.hero1 {
  background: #100032;
  color: #ffffff;
}
.hero1 a {
  color: #ffffff;
}

.hero2 {
  background: #ffffff;
}


nav>ul {
  list-style-type: none;
}

.achievements {
  background-color: #100032;
  color: #ffffff;
}

.gallery {
  background-color: #ffffff;
}

/* Layout Styling------------------------------------------------------------------------ */
.container {
  padding: 0 15px;
}

/* Links and Buttons----------------------------------------------------------------- */
a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #9AECFE;
}

a:active {
  color: #EE92C2;
}

.soc-media-link {
  display: inline-block;
  padding: 10px;
  transition: 0.2s opacity; /* Not sure what this is for */
}

/* Header------------------------------------------------------------------------------ */
header {
  background-color: #210068;
    color: #ffffff;
    padding: 10px;
}
header a {
  color: #ffffff;
}
header .logo {
  width: 5%;
}

/* Main--------------------------------------------------------------------------------- */

/* Footer-------------------------------------------------------------------------------- */
footer {
  background-color: #210068;
  color: #ffffff;
}


footer a {
  color: #ffffff;
}
.fab {
  font-size: 35px;
}

/* Containers & Columns------------------------------------------------------------- */



/* Media Queries----------------------------------------------------------------------- */
